
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
$lightColor: #D4B97F; /*backgrounds and on cursors*/
$darkColor: #815B06; /*headings*/
$white: #fff;
$darkGray1: #2E2E2E; /*footer 1*/
$darkGray2: #242424; /*footer 2*/
$lightGray: #B9B9B9; /*borders*/
$lightBtn: #D5B97F; /*buttons*/
$lightBackground: #F3E7CD; /*otzyvy and faq*/
$textGray: #515151; /*in faq section text*/

$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);
/*hh__text class - button*/

* {
    box-sizing: border-box;
  }

body{
    font-family: Inter;
    background-color: $white;
    margin: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*styles for header*/
header{
    display: flex;
    justify-content: space-around;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    
    .hamburger{
        display: none;
    }
    .header-pic{
        padding: 10px;
    }
        
    .header-link{
        color: $darkColor;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        padding: 30px;
        text-transform: uppercase;
    }

    .header-link:hover{
        color: $lightColor;
    }

    .logo__pic{
        height: 75px;
        width: auto;
    }

    .header-link-all{
        display: flex;
        justify-content: left;
        margin-right: 200px;
        position: relative;
        align-items: center;
    }

    .header-link-left{
        display: flex;
        justify-content: left;
        position: relative;
        align-items: center;
    }

    .header-call{
        color: $lightColor;
        border: 2px solid $darkColor;
        border-radius: 6px;
        padding: 14px 24px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .header-call:hover{
        color: $white;
        background-color: $darkColor;
    }

    .header-link-left-basket{
        margin-right: 100px;
        cursor: pointer;
    }
}

/*styles for top image*/
.pageTop{
    height: 100vh;
    min-height: 600px;
    background:  url(img/bg.jpg) center;
    background-size: 100%;
    color: $white;
    text-align: center;
    position: relative;
    padding: 170px 0 100px;
    margin: 0;
    background-repeat: no-repeat;
    p{
        font-size: 40px;
        font-weight: 600;
        line-height: 110%;
    }
    a{
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        color: $white;
        border: 2px solid $white;
        border-radius: 8px;
        padding: 16px 32px;
        text-transform: uppercase;
        &:hover{
            color: $lightColor;
            background-color: $white;
        }   
    }
    
    h1{
        font-size: 64px;
        font-weight: 600;
        padding-top: 40px;
        line-height: 110%;
    }
}
/*line*/
.pageList{
    color: $darkColor;
    background-color: $lightColor;
    display: flex;
    justify-content: center;
    h2{
        padding: 30px 70px;
        margin: 40px 0px;
    }

    .list2{
        border-left: 3px solid $darkColor;
        border-right:3px solid $darkColor;
    }
}
.imageBetween{
    display:none;
    margin: auto 10px;
    img{
        width: 350px;
        border-radius: 24px;
    }
    
}
/*intro*/
.pageAbout{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    img{
        width: auto;
        height: 610px;
        border-radius: 40px;
    }
    div{
        width: 530px;
        margin-top: 50px;
    }
}
/*styles for repeaded text side+img*/
.hhText{

    h5{
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.2em;
        color: $darkColor;
        text-transform: uppercase;
    }
    h2{
        font-weight: 700;
        font-size: 48px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        margin-top: 20px;
    }
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $textGray;
    }
    a{
        color: $white;
        font-size: 16px;
        display: flex;
        align-items: center;
        width: 168px;
        margin: 20px 20px 20px 60%;
        padding: 16px 32px;
        background: $lightBtn;
    }
    a:hover{
        filter: drop-shadow(3px 3px 10px rgba(128, 123, 123, 0.9));
    }

}
/*education section*/
.pageEdu{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    div{
        width: 640px;
        margin: 7px;
    }
    img{
        object-fit: cover;
        border-radius: 20px;
        width: 570px;
        height: 570px;
    }
}       

.pageQuote{
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        color: $textGray;
        text-align: center;
        padding:3% 15%;
}

/*shop*/
.pageShop{
    display: flex;
    justify-content: center;
    
    .shopLeft{
        margin: auto 70px;
        h5{
            margin-left: 500px;
        }
        h2{
            margin-left: 540px;
        }
        p{
            width: 700px;
        }
        img{
        width: 700px;
        height: 300px;
        border-radius: 24px;
        }
    }
}
/*big non-repeated item*/
.catalogItem{
    border: 3px solid  $lightGray;
    border-radius: 24px;
    width: 420px;
    height: 670px;
    box-shadow: 3px 10px 10px rgba(128, 123, 123, 0.9);
    &:hover{
        box-shadow: 3px  10px 10px 10px rgba(128, 123, 123, 0.9);
    }
    .more{
        text-align: center;
        color: $lightGray;
        font-size: 18px;
        cursor: pointer;
    }
    img{
        width: 290px;
        height: 290px;
        border-radius: 36px;
        display: block;
        margin:20px auto;
    }
    h2{
        margin: 18px auto;
        text-align: center;
        color: $darkGray2;
        font-weight: 700;
        font-size: 29px;
        line-height: 120%;
    }
    
}
/*кнопка для добавления в корзину*/
.basket{
    color: $white;
    font-size: 16px;
    width: 168px;
    height: 70px;
    padding: 16px 24px;
    background: $lightBtn;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    &:hover{
            filter: drop-shadow(3px 3px 10px rgba(128, 123, 123, 0.9));
        }
    &:active{
      background: $darkColor;
    }
    .cartImg{
        width: 24px;
        height: auto;
        border-radius: 0px;
    } 
}
    
/*отзывы*/
.pageRate{
    h2{
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
letter-spacing: -0.01em;
text-transform: capitalize;
    }
    .grade{
        display: flex;
        align-items: center;
        justify-content: center;

        .cardGrade{
        margin: 16px;
        width: 390px;

        h2{
            font-size: 32px;
            text-align: center;
        }
        p{
            align-items: flex-end;
            text-align: center;
            background: $lightBackground;
            border-radius: 24px;
            padding: 40px;
            height: 250px;
            display: flex;
            align-items: end;
        }
        }
    }
}
details{
        background: $white;
        width: 1000px;
        padding:20px 0;
        margin: 10px auto;
        cursor: pointer;

        summary{
        font-weight: 600;
        font-size: 24px;
        color: $darkGray1;
        content: none;
        }
        div{
            border-top: 3px solid $lightGray;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: $textGray;
            padding-top: 20px;
            margin: 20px auto;
            width: 900px;
        }
        
    }
.pageFaq{
    background-color: $lightBackground;
    text-align: center;
    align-items: center;
    position: relative;

    .emptyline{
        height: 100px;
    }
    p{
        color: $white;
        font-weight: 700;
        font-size: 18px;
        padding-top: 90px;
    }
    h1{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        color: $darkColor;          
        }

    
    
}

footer{
    background: $darkGray1;
    

    .topSide{
        display: flex;
        justify-content: space-around;

        .menu{
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.2em;
            color: $white;
            text-transform: uppercase;
            margin: 10px; 
        }
        ul{
            font-weight: 500;
            font-size: 16px;
            color: $lightGray;
            margin: 10px; 
        }

        div{
            padding: 40px;
        }

        .image{
            padding: 0px;
            margin: 10px;
            img{
                margin-right: 20px;
            }
        }
    }

    .bottomSide{
        display: flex;
        justify-content: space-around;
        background-color: $darkGray2;
        color: $lightGray;

        div{
            width: 300px;
            display: flex;
            justify-content: space-around;
        }
    }
}
/*----------------------next page------------------------*/
/*item*/

.catalogItemMini{
    border-radius: 20px;
    width: 300px;
    margin: 20px;
    height: 490px;
    border: 1px solid #D3D3D3;

    &:hover{
        box-shadow: 0 0 10px rgba(128, 123, 123, 0.5);
    }

    .moreMini{
        text-align: center;
        color: $lightGray;
        font-size: 10px;
        cursor: pointer;
    }
    img{
        width: 224px;
        height: 224px;
        border-radius: 28px;
        display: block;
        margin:20px auto;
    }
    h2{
        margin: 14px auto;
        text-align: center;
        color: $darkGray2;
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
    }
    .priceCatalogMini{
        display: flex;
        justify-content: center;
        margin: 0;
        h3{
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: #F9A000;
            margin: 0;
        }
        p{
            padding-left: 14px;
            color: $lightGray;
            text-align: end;
        }
    }
}
.weightMini{
        display: flex;
        justify-content: center;
        margin: 7px auto;
        
        button{
        width: 41px;
        height: 41px;
        font-size: 28px;
        background: $lightGray;
        color: $white;
        border: $lightGray;
        text-align: center;
        &:hover{
        background: $lightColor;
    }
    }
    p{
        background: #F5F5F5;
        height: 41px;
        width: 70px;
        margin: 0;
        text-align: center;
        padding: 10px 10px;
        font-size: 13px;
    }
    }
.basketMini{
        color: $white;
        font-size: 11px;
        width: 118px;
        height: 49px;
        padding: 11px 17px;
        background: $lightBtn;
        align-items: center;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        &:hover{
            filter: drop-shadow(3px 3px 10px rgba(128, 123, 123, 0.9));
        }
        &:active{
            background: $darkColor;

        }
        .cartImgMini{
        width: 17px;
        height: auto;
        border-radius: 0px;
        
    } 
    }
    .topCatalog{
        height: 100vh;
        min-height: 600px;
        background:  url(img/bg.jpg) center;
        background-size: 100%;
        color: $white;
        font-size: 64px;
        text-align: center;
        position: relative;
        padding-top: 30vh;
        background-repeat: no-repeat;
    }

    .catalogHit{
        h1{
            text-align: center;
            color: $darkGray1;
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            text-transform: uppercase;
        }
    }
    

    .catalogSection{
        h1{
            text-align: center;
            color: $darkGray1;
            font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            text-transform: uppercase;
            margin: 40px auto 5px ;
        }
        .menu{
            display: flex;
            justify-content: end;
            margin-right: 10%;
            margin-bottom: 60px;
            position: relative;
            ul{
                cursor: pointer;
                position: absolute;
                span{
                    border: 2px solid $lightGray;
                    color: $textGray;
                    padding: 16px;
                    font-size: 16px;
                }
                
                &:hover{
                    li{
                        display: flex;
                        flex-direction: column;
                        background: $white;
                        a{
                                color: $darkGray1;
                                padding: 12px 16px;
                                display: block;
                              &:hover {background-color: $lightBackground;}
                        }
                        
                } }
                li{
                display: none;
                }
        }
        }
        
    }

    
  .catalogItems{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:30px;
  }

  .catalogPlate{
      display: flex;
      justify-content: space-around;
      margin:50px;

      .imgCircle{
          width: 540px;
          height: 540px;
          border-radius: 540px;
      }
      .leftPlate{
          width: 500px;
          h2{
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: $darkColor;
            text-transform: uppercase;
          }
          ol{
            font-weight: 400;
            font-size: 32px;
            line-height: 120%;
            letter-spacing: -0.01em;
          }
      }

  }
.namePlate{
    text-align: center;
    color: $darkGray1;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    padding-bottom: 50px;
    text-transform: uppercase;
}

/*.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.drawer{
    position: fixed;
    width: 385px;
    height: 100%;
    right: 0;
    background: $white;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.5);
    padding: 30px;
    display: flex;
    flex-direction: column;

    .items{
        overflow: auto;
    }

    button{
        width: 100%;
        height: 55px;
        background: $lightBtn;
        border-radius: 18px;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover{
            background: lighten($lightBtn, 5%);
        }
        &:active{
            background: darken($lightBtn, 5%);
        }
    }
    h2{
        font-weight: 700;
        font-size: 32px;
        color: $darkGray2;
    }
    .items{
        flex: 1
    }

    .cartItem{
        display: flex;
        align-items: center;
        border: 1px solid #D3D3D3;
        border-radius: 24px;
        .cartItem_img{
            border-radius: 10px;
        }

        div{
            width: 200px;

            h5{
                font-size: 20px;
                line-height: 17px;
                font-weight: 500;
            }
            p{
                font-size: 10px;
                color: $lightColor;
            }
            b{
                font-size: 18px;
                color: $darkGray2;
            }
        }
        .removeBtn{
            opacity: 0.5;
            cursor: pointer;
            transition: opacity 0.15s ease-in-out;

            &:hover{
                opacity: 1;
            }
        }
    }
}

.cartTotalBlock{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    div{
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -2px;
        margin: 0 7px;;
    }
}*/
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
    display: flex;
    justify-content: center;

}
.card{
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    background: $white;
    border-radius: 40px;
    margin: auto 70px;

    .removeBtn{
        margin-left: 530px;
        margin-top: 50px;
    }
    
    h2{
        text-align: start;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: $darkGray2;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .imgLeft{
        width: 500px;
        height: 500px;
        border-radius: 40px;
        margin: 50px;
    }
    
    .hitPrice{
    display: flex;
        .basket{
            height: 58px;
            margin: 16px auto;
        }
}
    details{
        width: 600px;
        border-bottom: 3px solid $lightGray;
        border-top: 3px solid $lightGray;
        text-align: center;

        div{
            width: 600px;
        }
}
}

.priceCatalog{
    display: flex;
    justify-content: center;
    margin: 0;
    h3{
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #F9A000;
        margin: 0;
    }
    p{
        padding-left: 20px;
        color: $lightGray;
        text-align: end; 
    }
}
.weight{
    display: flex;
    justify-content: center;
    filter: none;
    margin: 16px auto;
    
    button{
        width: 58px;
        height: 58px;
        font-size: 40px;
        background: $lightGray;
        color: $white;
        border: $lightGray;
        text-align: center;
    
        &:hover{
            background: $lightColor;
        }
    }

    p{
        font-size: 20px;
        font-weight: 600;
        color: $darkGray2;
        background: #F5F5F5;
        height: 58px;
        width: 100px;
        margin: 0;
        text-align: center;
        padding: 16px 10px;
    }
}

.notFound{
    height: 100vh;
    min-height: 600px;
    background:  url(img/bg.jpg) center;
    background-size: 100%;
    color: $white;
    text-align: center;
    position: relative;
    padding: 170px 0 100px;
    margin: 0;
    font-size: 48px;
    a{
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: $white;
        border: 2px solid $white;
        border-radius: 8px;
        padding: 16px 32px;
        text-transform: uppercase;
        &:hover{
            color: $lightColor;
            background-color: $white;
        }
    }

}

@media screen and (max-width: 767px) {
    .imageBetween{
        display: flex;
        justify-content: center;
    }
    header{        
        .menu{
            display: none;
        }
        .header-call{
            display: none;
        }
        .hamburger{
            display: block;
            margin: 5px;
        }
        .header-link-left-basket{
            margin-right: 20px;
        }
    }
    .pageTop{
        height: 60vh;
        min-height: 200px;
        padding: 80px 0 20px;
        background-size: 160%;

        p{
            font-size: 32px;
        }
    }
    .pageList{
        display: none;
    }
    .pageAbout{
        img{
            display: none;
        }
        text-align: center;
        margin: auto 3%;
    } 
    
    .hhText{
        h5{
            font-size: 19px;
        }
        h2{
            font-size: 25px;
        }
    }

    .pageEdu{
        text-align: center;
        padding-top: 0px;
        margin-right: 0;
        img{
            display: none;
        }
        div{
            width: 90%;
        }
    }
    .pageQuote{
        display: none;
    }
    .hhText{
                h5{
                    margin-left: 0px;
                    font-size: 15px;
                }
                h2{
                    margin-left: 0px;
                    font-size: 24px;
                }
                
                p{
                    font-size: 13px;
                }
            }
    .catalogItems{
        margin: 0px;
    }
    .pageShop{
        .catalogItemMini{
            margin-top: 100px;
            margin-left: 0px;
            margin-right: 0px;
        }
        .shopLeft{
            width: 200px;
            margin-right: 10px;
            
        }
        
        
        .hhText{
            width: 180px;
            h5{
                margin-left: 0px;
            }
            h2{
                margin-left: 0px;
            }
            p{
                width: 180px;
            }
        }
        .shopLeft{
            margin: auto 10px;
        }

    }
    .pageFaq{
        width: 100%;
        details{
            div{
                width: 90%;
            }
            width: 90%;
        }
        summary{
            width: 100%;
            font-size: 18px;
        }
    }

    .catalogItemMini{
        border-radius: 11px;
        margin: 5px;
        width: 168px;
        height: 275px;
        border: 1px solid #D3D3D3;
    
        .moreMini{
            font-size: 6px;
        }
        img{
            width: 125px;
            height: 125px;
            border-radius: 16px;
            margin:11px auto;
        }
        h2{
            margin: 9px auto;
            font-size: 13px;
        }
        .priceCatalogMini{
            margin: 0;
            h3{
                font-size: 17px;
                margin: 0;
            }
            p{
                padding-left: 8px;
            }
        }
    }
    .weightMini{
            margin: 4px auto;
            
            button{
            width: 23px;
            height: 23px;
            font-size: 16px;
        }
        p{
            height: 23px;
            width: 39px;
            margin: 0;
            padding: 6px;
            font-size: 7px;
        }
        }
    .basketMini{
            font-size: 6px;
            width: 66px;
            height: 27px;
            padding: 7px 10px;
            margin: 0 auto;
            
            .cartImgMini{
            width: 10px;
            border-radius: 0px;
            
        } 
        }
    .pageRate{
        .grade{
            .cardGrade{
            width: 200px;
            p{
                padding: 10px;
                font-size: 14px;
            }
            h2{
                font-size: 28px;
            }
            }
        }
    }
    footer{
        .topSide{
            div{
                padding: 10px;
            }
        }
    }
    //-----------------------------------------
    .topCatalog{
        height: 50vh;
        padding-top: 10vh;
        font-size: 40px;
        min-height: 200px;
        h1{
            margin: 130px auto;
        }
    }
    
    .namePlate{
            padding-bottom: 0px;
            margin-top: 30px;
            font-size: 38px;
        }
    .catalogPlate{
        flex-direction: column;
        .leftPlate{
        width: 100%;
    }
        .imgCircle{
                width: 240px;
                height: 240px;
                border-radius: 240px;
                margin-bottom: 50px;
            }
        }
        .catalogHit{
            h1{
                font-size: 38px;
            }
        }
        .catalogSection{
            h1{
                font-size: 38px;
                padding-bottom: 20px;
            }
        }
        .card{
            flex-direction: column;
            width: 80%;
            height: 80%;
            margin: auto 70px;
        
            .removeBtn{
                margin-left: 100px;
                margin-top: 20px;
            }
            
            h2{
                font-size: 32px;
                line-height: 120%;
                letter-spacing: -0.01em;
                margin-bottom: 15px;
                margin-top: 10px;
            }
        
            .imgLeft{
                width: 300px;
                height: 300px;
                border-radius: 20px;
                margin: 20px;
            }
            
            .hitPrice{
                .basket{
                    height: 40px;
                    margin: 10px auto;
                }
        }
            details{
                width: 80%;
                border-bottom: 3px solid $lightGray;
                border-top: 3px solid $lightGray;
                text-align: center;
        
                div{
                    width: 80%;
                }
        }
        }
    }