@import 'colors.scss';
$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);

* {
    box-sizing: border-box;
  }

body{
    font-family: Inter;
    background-color: $white;
    margin: 0;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
    display: flex;
    justify-content: center;

}

.mainSection{
    max-width: 1300px;
    margin: 0 auto;
}

/*styles for header*/
header{
    display: flex;
    justify-content: space-around;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    
    .hamburger{
        display: none;
    }
    .header-pic{
        padding: 10px;
    }

    .logo__pic{
        height: 75px;
        width: auto;
    }

    .headerLinkAll{
        display: flex;
        justify-content: left;
        margin-right: 200px;
        position: relative;
        align-items: center;
        .headerLink{
            margin-top: 40px;
            margin-right: 60px;
            color: $darkColor;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            text-transform: uppercase;
            cursor: pointer;
            
            a{
                color: $darkColor;
                &:hover{
                    color: $lightColor;
                }
            } 
        }   
    }

    .header-link-left{
        display: flex;
        justify-content: left;
        position: relative;
        align-items: center;
    }

    .header-call{
        color: $lightColor;
        border: 2px solid $darkColor;
        border-radius: 6px;
        padding: 14px 24px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .header-call:hover{
        color: $white;
        background-color: $darkColor;
    }

    .header-link-left-basket{
        margin-right: 100px;
        cursor: pointer;
    }
}

//big image on top
.pageTop{
    height: 100vh;
    min-height: 600px;
    color: $white;
    text-align: center;
    padding: 170px 0 100px;
    margin: 0;
    background-repeat: no-repeat;
    
    h1{
        font-size: 64px;
        font-weight: 600;
        padding-top: 80px;
        margin-bottom: 60px;
        line-height: 110%;
    }
    p{
        font-size: 40px;
        font-weight: 600;
        line-height: 110%;
        margin-bottom: 80px;
    }
    a{
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        color: $white;
        border: 2px solid $white;
        border-radius: 8px;
        padding: 16px 32px;
        text-transform: uppercase;
        &:hover{
            color: $lightColor;
            background-color: $white;
        }   
    }
}

/*styles for repeaded text side+img*/
.hhText{
    width: 500px;
    h5{
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.2em;
        color: $darkColor;
        text-transform: uppercase;
    }
    h2{
        font-weight: 700;
        font-size: 48px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        margin-top: 20px;
    }
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $textGray;
    }
    a{
        color: $white;
        font-size: 16px;
        display: flex;
        align-items: center;
        width: 168px;
        margin: 20px 0px 20px 60%;
        padding: 16px 32px;
        background: $lightBtn;
    }
    a:hover{
        filter: drop-shadow(3px 3px 10px rgba(128, 123, 123, 0.9));
    }

}

/*кнопка для добавления в корзину*/
.basket{
    color: $white;
    font-size: 16px;
    width: 168px;
    height: 70px;
    padding: 16px 24px;
    background: $lightBtn;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    &:hover{
            filter: drop-shadow(3px 3px 10px rgba(128, 123, 123, 0.9));
        }
    &:active{
      background: $darkColor;
    }
    .cartImg{
        width: 24px;
        height: auto;
        border-radius: 0px;
    } 
}

.pageFaq{
    background-color: $lightBackground;
    text-align: center;
    align-items: center;
    position: relative;

    .emptyline{
        height: 100px;
    }
    p{
        color: $white;
        font-weight: 700;
        font-size: 18px;
        padding-top: 90px;
    }
    h1{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        color: $darkColor;          
        }      
}

footer{
    background: $darkGray1;
    

    .topSide{
        display: flex;
        justify-content: space-around;

        .menu{
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.2em;
            color: $white;
            text-transform: uppercase;
            margin: 10px; 
        }
        ul{
            font-weight: 500;
            font-size: 16px;
            color: $lightGray;
            margin: 10px; 
        }

        div{
            padding: 40px;
        }

        .image{
            padding: 0px;
            margin: 10px;
            img{
                margin-right: 20px;
            }
        }
    }

    .bottomSide{
        display: flex;
        justify-content: space-around;
        background-color: $darkGray2;
        color: $lightGray;

        div{
            width: 300px;
            display: flex;
            justify-content: space-around;
        }
    }
}

details{
    background: $white;
    width: 1000px;
    padding:20px 0;
    margin: 10px auto;
    cursor: pointer;

    summary{
    font-weight: 600;
    font-size: 24px;
    color: $darkGray1;
    content: none;
    }
    div{
        border-top: 3px solid $lightGray;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: $textGray;
        padding-top: 20px;
        margin: 20px auto;
        width: 900px;
    }
}
   
  .catalogItems{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:30px;
  }

.pageCarusel{
    margin: 100px auto;
    width: 1100px;
    .imgSlider{
        width: 1100px;
        height: 550px;
    }
}
